**HOMEWORK-2**

*   Import Boston Dataset from sklearn dataset class.
*   Explore and analyse raw data.
*   Do preprocessing for regression.
*   Split your dataset into train and test test (0.7 for train and 0.3 for test).
*   Try Ridge and Lasso Regression models with at least 5 different alpha value for each.
*   Evaluate the results of all models and choose the best performing model.

In [1]:
# Importing Boston Dataset from sklearn dataset class.
from sklearn.datasets import load_boston
import pandas as pd

In [2]:
# Exploring and analysing raw data.
Xb,yb =load_boston(return_X_y=True)

df_boston = pd.DataFrame(Xb,columns = load_boston().feature_names)
df_boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [3]:
df_boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [4]:
# Viewing the data statistics
df_boston.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [5]:
# Checking missing values
df_boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [6]:
# Displaying rows with missing values
df_boston[df_boston.isnull().any(axis=1)]

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT]
Index: []

In [9]:
from sklearn import preprocessing

X = df_boston.drop(['CHAS'], axis = 1) 
y = df_boston[['CHAS']]

In [10]:
# Scaling the data
X_s = preprocessing.scale(X)
X_s = pd.DataFrame(X_s, columns = X.columns) 
y_s = preprocessing.scale(y)
y_s = pd.DataFrame(y_s, columns = y.columns)

In [11]:
X_s

         CRIM        ZN     INDUS  ...   PTRATIO         B     LSTAT
0   -0.419782  0.284830 -1.287909  ... -1.459000  0.441052 -1.075562
1   -0.417339 -0.487722 -0.593381  ... -0.303094  0.441052 -0.492439
2   -0.417342 -0.487722 -0.593381  ... -0.303094  0.396427 -1.208727
3   -0.416750 -0.487722 -1.306878  ...  0.113032  0.416163 -1.361517
4   -0.412482 -0.487722 -1.306878  ...  0.113032  0.441052 -1.026501
..        ...       ...       ...  ...       ...       ...       ...
501 -0.413229 -0.487722  0.115738  ...  1.176466  0.387217 -0.418147
502 -0.415249 -0.487722  0.115738  ...  1.176466  0.441052 -0.500850
503 -0.413447 -0.487722  0.115738  ...  1.176466  0.441052 -0.983048
504 -0.407764 -0.487722  0.115738  ...  1.176466  0.403225 -0.865302
505 -0.415000 -0.487722  0.115738  ...  1.176466  0.441052 -0.669058

[506 rows x 12 columns]

In [14]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split, cross_validate
X_train, X_test, y_train,y_test = train_test_split(X_s, y_s, test_size = 0.30, random_state = 102)

print(f'Shape of X_train: {X_train.shape}')
print(f'Shape of X_test:  {X_test.shape}')
print(f'Shape of y_train: {y_train.shape}')
print(f'Shape of y_test: {y_test.shape}')

Shape of X_train: (354, 12)
Shape of X_test:  (152, 12)
Shape of y_train: (354, 1)
Shape of y_test: (152, 1)

In [65]:
#Linear, Ridge and Lasso Regression models
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

print(f'Linear Regression model coef: {linear_model.coef_}')

Linear Regression model coef: [[-0.0829953   0.07091193  0.15826421  0.22746405  0.12091608  0.04132585
  -0.02637888  0.23591703 -0.29584554 -0.04638742  0.08655994 -0.12318194]]

In [66]:
# Testing the Ridge Regression model with 5 different alpha values
ridge_model = Ridge(alpha = 0.01)
ridge_model.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model.coef_}')

Ridge model coef: [[-0.08298615  0.07089379  0.15821804  0.22745032  0.12091961  0.04132194
  -0.02639033  0.23582057 -0.29572828 -0.04638949  0.08655529 -0.12317224]]

In [67]:
ridge_model = Ridge(alpha = 0.04)
ridge_model.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model.coef_}')

Ridge model coef: [[-0.08295873  0.07083943  0.15807976  0.22740909  0.12093019  0.04131024
  -0.02642463  0.23553166 -0.29537706 -0.04639571  0.08654135 -0.12314316]]

In [68]:
ridge_model = Ridge(alpha = 0.09)
ridge_model.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model.coef_}')

Ridge model coef: [[-0.08291315  0.07074905  0.15785002  0.2273403   0.12094771  0.04129086
  -0.02648163  0.23505172 -0.29479351 -0.04640612  0.08651814 -0.12309479]]

In [69]:
ridge_model = Ridge(alpha = 0.16)
ridge_model.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model.coef_}')

Ridge model coef: [[-0.08284958  0.07062299  0.15752995  0.22724382  0.120972    0.04126396
  -0.0265611   0.23438308 -0.29398035 -0.04642078  0.0864857  -0.12302726]]

In [70]:
ridge_model = Ridge(alpha = 0.25)
ridge_model.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model.coef_}')

Ridge model coef: [[-0.08276828  0.07046171  0.15712107  0.22711948  0.12100285  0.0412298
  -0.02666273  0.23352898 -0.29294133 -0.04643977  0.08644406 -0.12294077]]

In [71]:
# Testing the Lasso Regression model with 5 different alpha values
lasso_model = Lasso(alpha = 0.001)
lasso_model.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model.coef_}')

Lasso model coef: [-0.08023048  0.06604703  0.15060355  0.22792788  0.12203991  0.03878298
 -0.02522293  0.22066113 -0.27902853 -0.04588157  0.08526582 -0.12040604]

In [72]:
lasso_model = Lasso(alpha = 0.004)
lasso_model.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model.coef_}')

Lasso model coef: [-0.07198769  0.05139281  0.12781568  0.22915698  0.12544228  0.03111098
 -0.02169631  0.1751644  -0.22877249 -0.04444642  0.08139946 -0.11201911]

In [73]:
lasso_model = Lasso(alpha = 0.009)
lasso_model.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model.coef_}')

Lasso model coef: [-0.05824236  0.02697215  0.08986653  0.23123812  0.13110742  0.01833831
 -0.01578552  0.09934865 -0.14505034 -0.04205209  0.07495953 -0.0980598 ]

In [74]:
lasso_model = Lasso(alpha = 0.016)
lasso_model.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model.coef_}')

Lasso model coef: [-0.04031619  0.          0.03936812  0.23387358  0.13774378  0.00134269
 -0.01089046  0.         -0.03556464 -0.03709417  0.06611899 -0.07928637]

In [75]:
lasso_model = Lasso(alpha = 0.025)
lasso_model.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model.coef_}')

Lasso model coef: [-0.03690481  0.          0.00857573  0.21770201  0.13172825  0.
 -0.01067955  0.         -0.00802578 -0.03634055  0.05849597 -0.06487201]

In [77]:
# Evaluating the results of all models and selecting the best performance model

#Linear Regression
print(f'Linear Regression Train: {linear_model.score(X_train, y_train)}')
print(f'Linear Regression Test: {linear_model.score(X_test, y_test)}')
print('*************************')

#Ridge Regression
print(f'Ridge Regression Train: {ridge_model.score(X_train, y_train)}')
print(f'Ridge Regression Test: {ridge_model.score(X_test, y_test)}')
print('*************************')

#Lasso Regression
print(f'Lasso Regression Train: {lasso_model.score(X_train, y_train)}')
print(f'Lasso Regression Test: {lasso_model.score(X_test, y_test)}')

Linear Regression Train: 0.09664062014978238
Linear Regression Test: -0.07072514474853264
*************************
Ridge Regression Train: 0.09663945757257253
Ridge Regression Test: -0.0706409819233964
*************************
Lasso Regression Train: 0.08021160100236402
Lasso Regression Test: -0.07122184222738093

The best model for the Boston dataset is linear regression. The next good model is the Ridge regression and the worst model is the Lasso regression.